[submodule "mysql"]
	path = mysql
	url = git@github.com:puppetlabs/puppetlabs-mysql.git
[submodule "stdlib"]
	path = stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "staging"]
	path = staging
	url = https://github.com/nanliu/puppet-staging.git
[submodule "fail2ban"]
	path = fail2ban
	url = git@github.com:chris-brundage/puppet-fail2ban.git
